.shop-list-section {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    background: #FFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shop-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.shop-table {
    width: 100%;
    border-collapse: collapse;
}

.shop-table th:nth-child(1),
.shop-table td:nth-child(1) {
    width: 30px;
}

.shop-table th:nth-child(2),
.shop-table td:nth-child(2) {
    width: 120px;
}

.shop-table th:nth-child(3),
.shop-table td:nth-child(3) {
    width: 60px;
}

.shop-table th:nth-child(4),
.shop-table td:nth-child(4) {
    width: 60px;
}

.shop-table th:nth-child(5),
.shop-table td:nth-child(5) {
    width: 90px;
}

.shop-table th:nth-child(6),
.shop-table td:nth-child(6) {
    width: 90px;
}

.shop-table th:nth-child(7),
.shop-table td:nth-child(7) {
    width: 150px;
}

.shop-table th,
.shop-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.shop-table th {
    background-color: #3560F6;
    color: #FFF;
    white-space: nowrap;
}

.edit-btn {
    background-color: #ffc107;
    color: #000;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
}

.delete-btn {
    background-color: #dc3545;
    color: #FFF;
    border: none;
    padding: 7px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.page-item .page-link {
    color: #3560F6;
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 5px 10px;
    font-size: 1rem;
    text-decoration: none;
}

.page-item .page-link:hover {
    background-color: #3560F6;
    color: #FFF;
}

.page-item.active .page-link {
    background-color: #3560F6;
    color: #FFF;
    border-color: #3560F6;
}

.page-item.disabled .page-link {
    color: #DDD;
    background-color: #FFF;
    border-color: #DDD;
}

@media (max-width: 768px) {

    .shop-table thead {
        display: none;
    }

    .shop-table tr {
        display: block;
        width: auto !important;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        padding: 10px;
        margin-bottom: 40px;
    }

    .shop-table th {
        width: auto;
    }

    .shop-table td {
        display: flex;
        width: auto !important;
        justify-content: space-between;
        padding: 10px;
        text-align: right;
    }

    .shop-table td::before {
        content: attr(data-label);
        font-weight: bold;
        white-space: nowrap;
    }
}